<aside class="menu">
    <p class="menu-label">
        Allumage du chenillard
    </p>
    <a>
        <button class="button is-white">White</button>
        <button class="button is-light">Light</button>
    </a>
    <p class="menu-label">
        Vitesse du chenillard
    </p>
    <a>
        <progress class="progress is-small is-primary" max="100">15%</progress>
        <progress class="progress is-danger" max="100">30%</progress>
        <progress class="progress is-medium is-dark" max="100">45%</progress>
        <progress class="progress is-large is-info" max="100">100%</progress>
    </a>
</aside>